*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

@font-face {
  font-family: 'Red Hat Text' ;
  src: url('../fonts/RedHatText-VariableFont_wght.ttf') format('truetype');
}

:root {
  --Red: hsl(14, 86%, 42%);
  --Red-hover: hsl(14, 86%, 25%);
  --Green: hsl(159, 69%, 38%);
  --White: hsl(0, 100%, 100%);
  --Rose-50: hsl(20, 50%, 98%);
  --Rose-100: hsl(13, 31%, 94%);
  --Rose-300: hsl(14, 25%, 72%);
  --Rose-400: hsl(7, 20%, 60%);
  --Rose-500: hsl(12, 20%, 44%);
  --Rose-900: hsl(14, 65%, 9%);

  --red-hat-font: 'Red Hat Text', sans-serif;
  --text-sm: 500 1.3rem/120% var(--red-hat-font);
  --text-sm-ft: 700 1.3rem/120% var(--red-hat-font);
  --text-md: 700 1.4rem/120% var(--red-hat-font);
  --text-subtitle: 700 1.6rem/120% var(--red-hat-font);
  --text-title: 700 3rem/120% var(--red-hat-font);
}