body {
  display: grid;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  /* background-color: grey; */
}

main {
  display: grid;
  gap: 3rem;
  width: 100%;
  max-width: 375px;
  padding: 2rem;
  background-color: var(--Rose-50);
}

.section-title {
  margin-bottom: 1rem;
  font: var(--text-title);
  color: var(--Rose-900);
}

#desserts {
  display: grid;
  gap: 1.5rem;
  grid-auto-columns: auto;
}

.card__product {
  position: relative;
  margin-bottom: 3rem;
  outline: 2px solid transparent;
  border-radius: 8px;
}

.card__product.in-cart img.card__image {
  outline: 2px solid var(--Red);
  border-radius: 8px;
}

.card__image {
  width: 100%;
  max-width: 335px;
  border-radius: 8px;
}

/* .card__image:focus-within {
  border: 1px solid var(--Red);
} */

.card__image.selected {
  border: 1px solid var(--Red);
}

.card__button {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  position: absolute;
  /* position: relative; */
  /* left: 25%; */
  left: 50%;
  /* top: 193px; */
  bottom: -1.5rem;
  width: 160px;
  padding: 1.3rem;
  font: var(--text-sm-ft);
  border-radius: 999px;
  border: 1px solid var(--Rose-500);
  transform: translateX(-50%);
  transition: transform 0.2s ease, background-color 0.2s ease;
  cursor: pointer;
}

.card__button:hover {
  /* transform: translateY(-1px); */
  transform: translate(-50%, -1px);
}

.card__button:focus-visible {
  /* justify-content: space-between; */
  border: 2px solid var(--Red);
  outline: 1px solid var(--Red);
  /* outline-offset: 2px; */
  color: var(--Red);
  /* background-color: var(--Red); */
}

.card__button.selected {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* justify-content: center; */
  gap: 0.5rem;
  color: var(--Rose-50);
  background-color: var(--Red);
}

.card__button.selected .quantity__button,
.card__button.selected .quantity-display {
  color: var(--Rose-50);
}

.decrement,
.increment {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border: 1px solid var(--Rose-50);
  color: var(--Rose-50);
  background-color: transparent;
  border-radius: 50%;
  cursor: pointer;
}

.quantity-display {
  /* color: var(--Rose-50); */
  min-width: 2rem;
  font: var(--text-sm-ft);
  text-align: center;
}

.card__info {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  margin-bottom: 2.5rem;
}

.name-dessert {
  font: var(--text-sm);
  color: var(--Rose-400);
}

.description-dessert {
  color: var(--Rose-900);
}

.price-dessert {
  color: var(--Red);
}

.description-dessert,
.price-dessert {
  font: var(--text-sm-ft);
}

#cart-title,
.cart-quantity {
  font: var(--text-subtitle);
  color: var(--Red); 
}

#cart-title {
  padding-left: 2rem;
}

#cart-section {
  padding-top: 2rem;
  background-color: white;
  border-radius: 8px;
  /* box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2); */
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

.cart__empty {
  display: flex;
  /* display: none; */
  flex-direction: column;
  justify-self: center;
}

.cart__empty span {
  font: var(--text-sm);
  color: var(--Rose-500);
}

.cart__full {
  display: none;
  /* display: flex; */
  gap: 1rem;
  flex-direction: column;
  padding: 1rem;
}

.cart__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

hr,
#order-confirmation hr {
  position: relative;
  left: 10px;
  width: 95%;
  height: 1px;
  border-top: 1px solid var(--Rose-50);
}

.cart__product {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  width: 70%;
}

.cart__product-name {
  font: var(--text-md);
  color: var(--Rose-900);
}

.cart__product-details {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.cart__product-price {
  font: var(--text-sm);
  color: var(--Rose-300);
}

.cart__product-total-price {
  color: var(--Rose-400);
}

.cart__product-quantity,
.cart__product-total-price {
  font: var(--text-sm-ft);
}

.cart__product-quantity {
  color: var(--Red);
}

.cart__remove-item {
  width: 18px;
  height: 18px;
  border: 1px solid var(--Rose-500);
  border-radius: 50%;
  cursor: pointer;
}

.cart__remove-item:hover {
  transform: translateY(-1px);
}

.cart__remove-item-icon {
  display: flex;
  align-self: center;
  justify-self: center;
}

.cart__totals {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin-block: 1.5rem;
}

.cart__totals-label {
  font: var(--text-sm);
  color: var(--Rose-500);
}

.cart__totals-price {
  font: var(--text-subtitle);
  color: var(--Rose-900);
}

.cart__carbon-neutral {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin: 0 2rem;
  padding: 1.5rem;
  font: var(--text-sm);
  color: var(--Rose-500);
  background-color: var(--Rose-50);
  border-radius: 8px;
}

.cart__carbon-neutral-text {
  color: var(--Rose-900);
}

.confirm-button {
  display: flex;
  justify-content: center;
  width: 90%;
  padding: 2rem;
  margin: 2rem auto;
  border: none;
  font: var(--text-sm-ft);
  color: var(--Rose-50);
  background-color: var(--Red);
  border-radius: 999px;
  cursor: pointer;
}

.confirm-button:hover{
  transform: translateY(-1px);
}

.confirm-button:focus-visible {
  border: none;
  outline: 1px solid var(--Red);
  outline-offset: 2px;
}

#order-confirmation {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  /* width: 100%; */
  /* min-width: 320px; */
  /* max-width: 375px; */
  width: 100%;
  height: 100%;
  /* background-color: var(--Rose-50); */
  background-color: rgba(0, 0, 0, 0.5);
  /* border: 1px solid red; */
  /* background-color: red; */
  /* border-radius: 10px; */
  z-index: 1000;
}

#order-confirmation .confirmation-box {
  background-color: var(--Rose-50);
  /* border: 1px solid var(--Rose-100); */
  border-radius: 12px;
  padding: 2rem;
  /* width: 90%; */
  min-width: 320px;
  width: 375px;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.2);
  /* text-align: center; */
}

#order-confirmation .section-title {
  width: 50%;
  margin-block: 1rem;
  color: var(--Rose-900);
}

#order-confirmation p {
  font: var(--text-sm);
  color: var(--Rose-300);
}

.icon-confirmed {
  width: 40px;
  height: 40px;
  margin-top: 1rem;
}

#order-confirmation .cart__full {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  margin-block: 1rem;
  background-color: var(--Rose-100);
  /* border: 1px solid var(--Rose-100); */
  border-radius: 8px;
}

#order-confirmation .cart__product {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  /* background-color: var(--Rose-50); */
  /* background-color: var(--Red); */
}

.cart__image-thumbnail {
  width: 50px;
  height: 50px;
}

#order-confirmation .cart__product-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 170px;
  text-align: left;
}

#order-confirmation .cart__product-name {
  width: 100%;
  color: var(--Rose-900);
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

#order-confirmation .cart__product-info {
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
  width: 100%;
}

#order-confirmation .cart__product-total-price {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  font: var(--text-md);
  color: var(--Rose-900);
  text-align: right;
}

#order-confirmation .cart__totals {
  display: flex;
  align-items: center;
}

#order-confirmation .cart__totals-price {
  font: var(--text-title);
}

#order-confirmation .confirm-button {
  display: block;
  width: 100%;
}