body {
  display: grid;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: grey;
}

main {
  display: grid;
  gap: 3rem;
  max-width: 100%;
  width: 375px;
  padding: 2rem;
  background-color: var(--Rose-50);
  /* outline: 1px solid red; */
}

#title {
  margin-bottom: 1rem;
  font: var(--text-title);
  color: var(--Rose-900);
}

#desserts {
  display: grid;
  gap: 1.5rem;
  grid-auto-columns: auto;
}

.card__product {
  position: relative;
  margin-bottom: 3rem;
  /* outline: 1px dashed green; */
}

.card__image {
  width: 100%;
  max-width: 335px;
  border-radius: 10px;
}

.card__image:focus-within {
  border: 1px solid var(--Red);
}

.card__button {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 25%;
  top: 193px;
  width: 160px;
  padding: 1.3rem;
  font: var(--text-sm-ft);
  border-radius: 999px;
  border: 1px solid var(--Rose-500);
  cursor: pointer;
}

.card__button:hover {
  transform: translateY(-1px);
}

.card__button:focus-visible {
  justify-content: space-between;
  border: none;
  /* outline: none; */
  outline: 1px solid var(--Red);
  outline-offset: 2px;
  color: var(--Rose-50);
  background-color: var(--Red);
}

.card__info {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  margin-bottom: 2.5rem;
  /* outline: 1px dashed purple; */
}

.name-dessert {
  font: var(--text-sm);
  color: var(--Rose-400);
}

.description-dessert {
  color: var(--Rose-900);
}

.price-dessert {
  color: var(--Red);
}

.description-dessert,
.price-dessert {
  font: var(--text-sm-ft);
}

#cart-title {
  padding-left: 2rem;
  font: var(--text-subtitle);
  color: var(--Red); 
}

#cart-section {
  padding-top: 2rem;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}

.cart__empty {
  /* display: flex; */
  display: none;
  flex-direction: column;
  justify-self: center;
}

.cart__empty span {
  /* width: 100%; */
  font: var(--text-sm);
  color: var(--Rose-500);
  /* outline: 1px solid red; */
}

.cart__full {
  /* display: none; */
  display: flex;
  gap: 1rem;
  flex-direction: column;
  padding: 1rem;
}

.cart__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  /* outline: 1px solid red; */
}

hr {
  width: 95%;
  position: relative;
  left: 10px;
  width: 95%;
  height: 1px;
  border-top: 1px solid var(--Rose-100);
}

.cart__product {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  width: 70%;
}

.cart__product-name {
  font: var(--text-md);
  color: var(--Rose-900);
}

.cart__product-details {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  /* justify-content: space-evenly; */
}

.cart__product-quantity {
  color: var(--Red);
}

.cart__product-price {
  font: var(--text-sm);
  color: var(--Rose-300);
}

.cart__product-total-price {
  color: var(--Rose-400);
}

.cart__product-quantity,
.cart__product-total-price {
  font: var(--text-sm-ft);
}

.cart__remove-item {
  width: 18px;
  height: 18px;
  border: 1px solid var(--Rose-500);
  border-radius: 50%;
  cursor: pointer;
}

.cart__remove-item:hover {
  transform: translateY(-1px);
}

.cart__remove-item-icon {
  display: flex;
  align-self: center;
  justify-self: center;
}

.cart__totals {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin-block: 1.5rem;
  /* outline: 1px solid green; */
}

.cart__totals-label {
  font: var(--text-sm);
  color: var(--Rose-500);
}

.cart__totals-price {
  font: var(--text-subtitle);
  color: var(--Rose-900);
}

.cart__carbon-neutral {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin: 0 2rem;
  padding: 1.5rem;
  font: var(--text-sm);
  color: var(--Rose-500);
  background-color: var(--Rose-50);
  border-radius: 8px;
  /* outline: 1px solid green; */
}

.cart__carbon-neutral-text {
  color: var(--Rose-900);
}

.confirm-button {
  display: flex;
  justify-content: center;
  width: 90%;
  padding: 2rem;
  /* margin-top: 2rem; */
  margin: 2rem auto;
  border: none;
  font: var(--text-sm-ft);
  color: var(--Rose-50);
  background-color: var(--Red);
  border-radius: 999px;
  cursor: pointer;
}

.confirm-button:hover{
  transform: translateY(-1px);
}

.confirm-button:focus-visible {
  border: none;
  outline: 1px solid var(--Red);
  outline-offset: 2px;
}

#order-confirmation {
  display: none;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 375px;
  /* padding-left: 1.5rem; */
  background-color: white;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  /* outline: 1px solid blue; */
}

#order-confirmation #title {
  width: 50%;
  margin-block: 1rem;
  color: var(--Rose-900);
}

#order-confirmation p {
  /* padding-left: 0.2rem; */
  font: var(--text-sm);
  color: var(--Rose-300);
}

.icon-confirmed {
  width: 40px;
  height: 40px;
  margin-top: 1rem;
}

#order-confirmation .cart__full {
  margin-block: 1rem;
  background-color: var(--Rose-50);
  border-radius: 8px;
}

#order-confirmation .cart__product {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  /* outline: 1px solid red; */
}

.cart__image-thumbnail {
  width: 50px;
  height: 50px;
  /* outline: 1px solid red; */
}

#order-confirmation .cart__product-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 170px;
  text-align: left;
  /* outline: 1px solid black; */
}

#order-confirmation .cart__product-name {
  width: 100%;
  color: var(--Rose-900);
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  /* border: 1px solid red; */
}

#order-confirmation .cart__product-info {
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
  width: 100%;
  /* text-align: left; */
  /* outline: 1px solid green; */
}

#order-confirmation .cart__product-total-price {
  display: flex;
  justify-content: flex-end;
  /* width: 100%; */
  flex: 1;
  font: var(--text-md);
  color: var(--Rose-900);
  text-align: right;
  /* outline: 1px solid green; */
}

#order-confirmation .cart__totals {
  display: flex;
  align-items: center;
}

#order-confirmation .cart__totals-price {
  font: var(--text-title);
}

#order-confirmation .confirm-button {
  width: 100%;
  /* margin: 0; */
}